.main-page {
  background-image: url("https://images.freeimages.com/images/large-previews/ec9/background-1630963.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.note-app {
  display: flex;
  width: 100%;
}

.sideBar {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  background-color: hotpink;
}

.side-bar-notes {
  background-color: gray;
  margin-top: 30px;
}

.Main-notes {
  display: grid;
  width: 60%;
  margin-left: 30px;
}

.Main-notes button {
  width: 40px;
}

.nav-bar {
  display: inline-block;
  width: 100%;
}

.nav-bar li {
  display: inline-block;
  white-space: nowrap;
  background-color: rgba(83, 131, 99, 1);
  font-family: Arial;
  margin-right: 20px;
  padding: 15px;
}

.nav-bar ul {
  margin-left: 10px;
}

.nav-bar .logo {
  padding-right: 350px;
}

button {
  width: 30px;
  height: 30px;
}

.nav-bar li {
  font-size: 20px;
}
